@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .menu-item {
        @apply relative inline-block text-lg;
    }

    .menu-item::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 3px;
        background-color: rgb(177, 51, 189);
        transition: width 0.2s ease-in-out;
    }

    .menu-item:hover::after {
        width: 100%;
    }
}
